$primary: hsl(158, 36%, 37%);
$active: hsl(158, 36%, 20%);
$second: hsl(30, 38%, 92%);
$blue-dark: hsl(212, 21%, 14%);
$blue-dg: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: $second;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 613px;
  width: 337px;
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: 12px;
  font-family: 'Montserrat', serif;
  transform: translate(-50%, -50%);
  overflow: hidden;

  .header {
    height: 236px;
    width: 100%;
    &_image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .info {
    width: 87%;
    margin: 20px auto 0;

    &_category {
      margin-bottom: 12px;
      font-size: 0.75rem;
      color: $blue-dg;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    &_title {
      color: $blue-dark;
      font-size: 2rem;
      font-family: 'Fraunces', serif;
      font-weight: 700;
    }

    &_description {
      margin: 20px auto 28px;
      color: $blue-dg;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 21px;
    }

    &_prices {
      display: flex;
      align-items: center;

      &_discount {
        margin-right: 20px;
        font-family: 'Fraunces', serif;
        font-size: 2rem;
        font-weight: 700;
        color: $primary;
      }

      &_main {
        font-size: 0.875rem;
        font-weight: 500;
        color: $blue-dg;
        text-decoration: line-through;
      }
    }

    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 100%;
      margin-top: 20px;
      border: none;
      background: $primary;
      font-family: 'Montserrat', serif;
      font-weight: 700;
      color: $white;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: $active;
      }

      & ion-icon {
        font-size: 20px;
        margin-right: 12px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .modal {
    flex-direction: row;
    height: 460px;
    width: 610px;

    .header {
      height: 100%;
      width: 50%;
      &_image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .info {
      width: 50%;
      margin: 0;
      padding: 32px 32px 0;

      &_category {
        margin-bottom: 16px;
      }

      &_description {
        margin: 24px auto;
      }

      &_btn {
        margin-top: 28px;
      }
    }
  }
}
